<launch>
  <arg name="porte" default="/dev/ttyACM0"/>
  <arg name="namee" default="arduino_serial" />

  <!--  start the rosserial node  -->
  <node name="$(arg namee)"
        pkg="rosserial_python"
        type="serial_node.py"
        output="screen"
        args="_port:=$(arg porte)"
  />
</launch>
