#Arduino UNO
SUBSYSTEMS=="usb", ATTRS{idProduct}=="2341", ATTRS{idVendor}=="0043", ATTRS{serial}=="55736303631351A09072", SYMLINK+="arduino face"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0043", ATTRS{idVendor}=="2341", ATTRS{serial}=="55736303631351A09072", SYMLINK+="arduino battery"
